{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Listings</title>
    <link rel="stylesheet" href="{% static 'styles/view_house.css' %}">
</head>
<body>
    <h1> House Listed </h2>
    <div class="listings-container">
        {% for listing in listings %}
            <div class="listing">
                <div class="image-container">
                    {% if listing.image.exists %}
                        <img src="{{ listing.image.all.0.image.url }}" alt="Listing Image">
                    {% else %}
                        <img src="{% static 'images/image.png' %}" alt="Default Image">
                    {% endif %}
                </div>                
                <div class="details-container">
                    <div class="lister-name">{{ listing.owner.username }}</div>
                    <div class="price"> GHS {{  listing.price }}</div>
                </div>
                <div class="description-container">
                    <p>{{ listing.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
